<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="44199JCroftApps.MVPCommunityApp" Publisher="CN=A23A4004-325F-45CC-9CA8-C1EFD37C8557" Version="1.1.1.0" />
  <mp:PhoneIdentity PhoneProductId="72230771-2abb-436a-ae9a-5d5b2b00487c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MVP Community App</DisplayName>
    <PublisherDisplayName>James Croft</PublisherDisplayName>
    <Logo>Assets\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MVP.App.UWP.App">
      <uap:VisualElements DisplayName="MVP Community App" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="A Microsoft MVP application built by the community." BackgroundColor="#0072C6">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0072C6" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="MVP.App.UWP.Cortana.VoiceCommandService">
          <uap:AppService Name="VoiceCommandService" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="mvpapp">
            <uap:Logo>Assets\ProtocolLogo.png</uap:Logo>
            <uap:DisplayName>MVP Community App</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.personalAssistantLaunch" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>